---
- name: Pass request to subnet_unit role
  include_role:
    name: subnet_unit
  vars:
    req: "{{ req }}"
    batch_index: "{{ batch_index }}"
    env_data: "{{ env_data }}"
    subnet_data: "{{ subnet_data }}"
    region_map: "{{ region_map }}"
